
.blog_nav {
    margin-bottom: 70px;
}
body {
    background: #fbfbfb;
}
.blog_nav .blog-nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.blog_nav .blog_navigation-text-wrap {
    margin-bottom: 45px ;
}
.blog_nav .blog-item {
    color: #524f7a;
    font-size: 16px;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}
.blog_nav .blog-nav-icons-wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}
.blog_nav .blog_list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 0 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.blog_nav .blog-item:hover {
    color: #f74458;
    transition: all 0.5s ease-in-out;
}
.blog_nav .blog-logo {
    color: #524f7a;
    font-size: 60px;
    font-family: 'Playfair Display';
    font-weight: 600;
    line-height: 1.2;
}
.blog_nav .blog-facebook-icon {
    padding: 0 10px;
    font-size: 20px;
}
.blog_nav .blog-para {
    color: #524f7a;
    font-size: 16px;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}
.blog_nav .blog-list-items {
    padding: 19px 10px;
}
.blog_nav .bg_color {
    color: #1e90ff;
}
.blog_nav .bg_color22 {
    color: #000;
}
.blog_nav .bg_color_black {
    color: #f74458;
}

/* ------------------blog-only-one-image------------------- */
.blog-only-one-image {
    /* margin-bottom: 70px; */
    position: relative;
    max-width: 1140px;
    margin: 0 auto 70px;
}
.blog-only-one-image .blog-main-image {
    max-width: 730px;
    margin: 0 auto;
}
/* ----------------------.main_blog_content ------------------ */

.main_blog_content {
    margin-bottom: 70px;
    position: relative;
}
.main_blog_content .blog_icons_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_blog_content .icon-with-scond-text {
    display: flex;
    align-items: center;
}
.main_blog_content .image-and-text-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.main_blog_content .icon-with-genral-text-wrap {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30), 0 4px 3px rgba(0, 0, 0, 0.22);
}
.main_blog_content .blog_icon_with_zero_text {
    display: flex;
    align-items: center;
    max-width: 25%;
    flex: 25%;
}
.main_blog_content .blog_icon_with_zero_text {
    display: flex;
    align-items: center;
    max-width: 25%;
    flex: 25%;
}
.main_blog_content .blog_icon_with_zero_text-second {
    display: flex;
    align-items: center;
    max-width: 25%;
    flex: 25%;
}
.main_blog_content .blog_year{
    display: flex;
    align-items: center;
}
.main_blog_content .blog-month {
    max-width: 25%;
    flex: 25%;
}
.main_blog_content .blog_content_wrapper {
    background: white;
    padding: 50px 60px;
    max-width: 850px;
    margin: 0 auto 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.main_blog_content .blog_title {
    color: #494766;
    font-size: 50px;
    font-family: 'Playfair Display';
    font-weight: 500;
    line-height: 1.0;
    margin-bottom: 18px;
    transition: all 0.10s ease-in-out;
    position: relative;
    text-decoration: none;
}
.main_blog_content .blog_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00c7c7; /* Adjust color to match your design */
    left: 0;
    bottom: -2px; /* Adjust this value to set underline position */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}
/* .main_blog_content .blog-heading-title:hover {
   text-decoration: underline;
  
   /* color: #00ced1; */
   /* -webkit-text-fill-color: brown;  
    text-decoration-thickness: 5px;
    text-underline-offset: 9px;
} */
.main_blog_content .years_blog {
    font-size: 15px;
    color: #494766;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
    margin-right: 20px;
}
.main_blog_content .blog_read-text {
    margin-right: 20px;
    position: relative;
    max-width: 25%;
    flex: 25%;
    display: flex;
    align-items: center;
}
.main_blog_content .straigth-line{
    width: 23px;
    height: 2px;
    background: red;
    margin-right: 8px;
}
/* .main_blog_content .blog_time::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -32px;
    width: 23px;
    height: 2px;
    background: red;
} */
.main_blog_content .blog_time--icon-s{
    margin-right: 7px;
    color: #f74458;
}
.main_blog_content .fire-icon {
    margin-right: 11px;
    color: #f74458;
}
.main_blog_content .star-icon {
    margin-left: 14px;
    color: #f74458;
}
.main_blog_content .blog_time {
    font-size: 15px;
    color: #494766;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
}
.main_blog_content .content_paragraph {
    margin-bottom: 40px;
}
.main_blog_content .blog-para {
    font-size: 20px;
    color: #a9a9a9;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
}
.icon_hash {
    color: #f74458;
    margin-right: 4px;
}
.main_blog_content .general-text {
    font-size: 15px;
    color: #a9a9a9;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
}
.main_blog_content .icon-right-icon {
    max-width: 35px;
    margin-right: 20px;
}
.main_blog_content .person-imgg {
    border-radius: 50%;
}
.main_blog_content .right--text {
    font-size: 15px;
    color: #a9a9a9;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
}
.main_blog_content .blog-last-text {
    font-size: 15px;
    color: #fff;
    font-family: 'Commissioner';
    font-weight: 400;
    line-height: 1.2;
}
.main_blog_content .blog-hidden_content {
    max-width: 150px;
    padding: 13px 16px;
    cursor: pointer;
    background: #4d4976;
    margin: 0 auto;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.left-image {
    max-width: 120px;
    margin-right: 30px;
    height: 126px;
}
































