.emailhosting .main-section-main-card {
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .main-product .product-wrapper {
    position: relative;
    height: 771px;
  }
  .main-product .mail-image {
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-product .main-product-mainn_contents {
    position: absolute;
  }
  .main-product .main-product-card1 {
    top: 30px;
    left: 16%;
  }
  .main-product .main-product-card2 {
    top: 30px;
    right: 16%;
  }
  .main-product .main-product-card3 {
    left: 2%;
    top: 35%;
  }
  .main-product .main-product-card4 {
    right: 2%;
    top: 35%;
  }
  .main-product .main-product-card5 {
    bottom: -1%;
    left: 16%;  
  }
  .main-product .main-product-card6 {
    bottom: -1%;
    right: 16%;
  }
  .main-product .main-product-mainn_contents {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    max-width: 340px;
    position: absolute;
    /* height: 190px; */
  }
  .mail-blog .main-section-main-card {
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .mail-blog .main-card_wrappers-wrap {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 10px;
}
  .main-second--section .main-heaading-pree-titles::before {
    left: 28%;
  }
  .main-second--section .main-heaading-pree-titles::after {
    right: 28%;
  }
  
  /* -----------------------administrative features----------------- */
  .feature-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .feature-highlight {
    color: #0066cc;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .feature-list {
    list-style-type: none;
    padding-left: 0;
    color: #333;
    font-size: 1rem;
  }
  
  .feature-list li {
    margin-bottom: 10px;
  }
  
  .feature-list li::before {
    content: "✔";
    color: #007bff;
    margin-right: 10px;
  }
  
  .feature-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .adminitrative-display {
    align-items: center;
  }
  
  