



.top-header-menu {
    background: #007aff;
    padding: 15px 0;
    box-shadow: 0 23px 26px rgba(0, 0, 0, 0.25), 0 14px 23px rgba(0, 0, 0, 0.22);
}
.top-header-menu .top_header-menu-wrap.d-flex {
    align-items: center;
    justify-content: space-between;
   
}
.top-header-menu .top-h-flex-text {
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
}
.top-header-menu .top--text1 {
    color: #fff;
}
.top-header-menu .top--text1.d-flex {
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    text-decoration: none;
}
.top-header-menu .top-phone-icon {
    margin-right: 10px;
}
.top-header-menu .top-pre-title {
    font-family: 'Commissioner';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}
/* ---------------------------- */

.main-header {
    background: #007aff;
    box-shadow: 0 11px 24px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}
.main-header .main-header-menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .banner-content-titles {
    color: #fff;
    font-family: 'Playfair Display';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.main-header .banner-p1 {
    color: #fff;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.main-header .header--items {
    color: #fff;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}
.second--header .cal-text {
    color: #fff;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}
.main-header .main_header-menu-list {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}

.main-header .main-header-menu-list-items:hover {
   background-color: #007aff;
}
/* .main-header .header--items {
    color: #fff;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
} */
.main-header .login-button {
    width: 170px;
    height: 40px;
    background: #ff7f50;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-header .main-header-menu-list-items {
    padding: 20px 10px;
    position: relative;
}

.main-header .login-btn {
    color: #fff;
    font-family: 'Commissioner';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}
.main-header .drop-down--content {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    min-width: 1100px;
    visibility: hidden;
    opacity: 9;
}
.main-header .main-header-menu-list-items:hover .drop-down--content  {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 100%;
    left: 0;
    transition: all 0.8s ease-in-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.main-header .drop-titles {
    font-size: 18px;
    margin: unset;
}
.main-header .drop-down-list-items {
    padding: unset;
}
.main-header .drop-title {
    font-size: 14px;
}
.main-header .dropdown--icons {
    max-width: 40px;
    margin-right: 10px;
    height: 100%;
}
.main-header .circular--blue {
    width: 60px;
    background: #c5ced3;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #87cefa;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .circular--blue {
    background-color: #87cefa;
    transition: all 0.8s ease-in-out;
     color: #fff;
}
.main-header .first-circle-color {
    width: 60px;
    background: #c4c9cd;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid #87cefa;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .first-circle-color {
    background-color: #87cefa;
    transition: all 0.8s ease-in-out;
     color: #fff;
}
.main-header .circle--1 {
    width: 60px;
    background: #cee5d8;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #3cb371;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .circle--1 {
    background-color: #3cb371;
    transition: all 0.8s ease-in-out;
    color: #fff;
}
.main-header .circle--2 {
    width: 60px;
    background: #d5c9d5;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ff00ff;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .circle--2 {
    background-color: #ff00ff;
    transition: all 0.8s ease-in-out;
     color: #fff;
}
.main-header .circle_color {
    width: 60px;
    background: #d3d3dd;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #0000cd;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .circle_color {
    background-color: #0000cd;
    transition: all 0.8s ease-in-out;
    color: #fff;
}
.main-header .third-circle-one {
    width: 60px;
    background: #dfd8d5;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ffa07a;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .third-circle-one {
    background-color: #ffa07a;
    transition: all 0.8s ease-in-out;
    color: #fff;
}
.main-header .third-last-color {
    width: 60px;
    background: #c5ced3;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #87cefa;
    cursor: pointer;
}
.main-header .drop-down-link-items:hover .third-last-color {
    background-color: #87cefa;
    color: #fff;
    transition: all 0.8s ease-in-out;
}
.main-header .domain-circle-color1 {
    width: 60px;
    background: #ede4e5;
    border-radius: 50%;
    padding: 8px 12px;
    border: 1px solid #ffb6c1;
    cursor: pointer;
    color: #ffb6c1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .drop-down-link-items:hover .domain-circle-color1 {
    background-color: #ffb6c1;
    color: #fff;
    transition: all 0.8s ease-in-out;
}
.main-header .domain-circle-color2 {
    width: 60px;
    background: #cee5d8;
    border-radius: 50%;
    padding: 8px 12px;
    border: 1px solid #3cb371;
    cursor: pointer;
    color: #3cb371;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .drop-down-link-items:hover .domain-circle-color2 {
    background-color: #3cb371;
    color: #fff;
    transition: all 0.8s ease-in-out;
}
.main-header .domain-circle-color3 {
    width: 60px;
    background: #ebdceb;
    border-radius: 50%;
    padding: 12px;
    border: 1px solid #ff00ff;
    cursor: pointer;
    color: #ff00ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-header .drop-down-link-items:hover .domain-circle-color3 {
    background-color: #ff00ff;
    color: #fff;
    transition: all 0.8s ease-in-out;
}
.main-header .drop-down--titles {
    margin-bottom: 24px;
}
.main-header .drop-down-link {
    display: flex;
    color: #000;
}
.main-header .drop-down-link:hover .drop-titles {
    color: blue;
}
.main-header .drop-down_section {
    max-width: 33.33%;
    flex: 33.33%;
}
/* --------------.second--header ---------------- */
.second--header {
    background: #2582e7;
    padding: 20px 0;
}
.second--header .h-logo {
    max-width: 180px;
}
.second--header .header-with-logo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second--header .header-menu-right-text.d-flex {
    align-items: center;
}
.second--header .header-menu-right-text:not(:last-child) {
    margin-right: 38px;
}
.second--header .cal-text {
    color: #fff;
}
.second--header .cal-icon {
    margin-right: 14px;
    font-size: 24px;
}




div#accordionExample {
    margin-bottom: 70px;
}