


.main-services {
    margin-bottom: 70px;
}
.main-services .main-services-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.main-services .main-product-mainn_contents{
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 15px;
    padding: 28px;
    border-radius: 10px;
    min-height: 228px;
}
.main-services .main-services-products {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 10px;
}
.main-services .main-services-products:hover {
    transition: all 0.3s ease-in-out;
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 1ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse; /* top to bottom bottom to top */
}
@keyframes move {
    0% {
        transform: translateY(-11px);
        transition: all 0.3s ease-in-out;
    }
    50% {
        transform: translateY(19px);
        transition: all 0.3s ease-in-out;
    }
}
.main-services .main-product_icond {
    max-width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-services .main_product-titles {
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}
.main-services .product-para {
    font-family: "Commissioner";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    color: #a2a6af;
    margin-bottom: 10px;
    text-align: center;
}
.main-services .bttn-service {
    text-align: center;
    font-family: "Commissioner";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    color: #0d6efd;
}
.main-services .main-section-headings {
    text-align: center;
    margin-bottom: 40px;
}
.main-services .main-heaading-pree-titles {
    color: #0000ff;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
}
.main-services .main-heaading-pree-titles::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    left: 43%;
}
.main-services .main-heaading-pree-titles::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    right: 43%;
}
.main-services .heading--main--title {
    color: #000;
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.main-services .main-sect-mian-para {
    color: #c1baba;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.main-services .main-product_icond {
    color: #000;
    background: blue;
    border-start-start-radius: 50% 10%;
    border-start-end-radius: 20% 40%;
    border-end-end-radius: 50% 10%;
    border-end-start-radius: 20% 40%;
    padding: 10px;
    margin: 0 auto 17px;
}
.main-services .bg-tomato {
    background: #fb8c78;
}
.main-services .bg-green {
    background: #2e8b57;
}
.main-services .bg-lightcoral {
    background: #fb9c9c;
}
.main-services .bg-lightgreen {
    background: #8be7e2;
}
.main-services .bg-khaki {
    background: #dfd57d;
}
/* ---------------------text-details------------------------ */
.text-details {
    background: #007aff;
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .text-details .text-image-wrap {
    display: flex;
  }
  .text-details .text-alpha {
    max-width: 50%;
    flex: 50%;
  }
  .text-details .text-beta {
   display: flex;
   flex-wrap: wrap;
   max-width: 50%;
   flex: 50%;
   margin: 0 -10px;
  }
  .text-details .text-beta--img-padding {
    max-width: 33.33%;
    flex: 33.33%;
    padding: 0 10px;
}
  .text-details .text-beta--img {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 142px;
    height: 142px;
  }
  .text-details .text-beta--img:hover {
    /* animation: depth 2s linear 2s 2 alternate-reverse; */
    animation-name: depth;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse; /* top to bottom bottom to top */
    box-shadow: 0 2px 11px rgba(0, 0, 7, 0.25), 0 2px 7px rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in-out;
  }
  @keyframes depth {
    0% {
        transform: translateY(-11px);
        transition: all 0.3s ease-in-out;
    }
    25% {
        transform: translateY(19px);
        transition: all 0.3s ease-in-out;
    }
  }
  .text-details .text-title {
    font-family: "Playfair Display";
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .text-details .text-para1 {
    font-family: "Commissioner";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
  }
  .text-details .p1 {
    font-family: "Commissioner";
    font-size: 23px;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
  }
  .text-details .p1 {
    font-family: "Commissioner";
    font-size: 23px;
    font-weight: 400;
    line-height: 1.1;
    color: #fff;
    margin: 0 8px;
  }
  .text-details .para2 {
    font-size: 23px;
  }
  .text-details .text-details-button {
    width: 160px;
    background: #ff7f50;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 16px 10px;
  }
  .text-details .details_btn {
    color: #fff;
    font-family: "Commissioner";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }

/* ------------------------------------- */
.reseller-hosting {
    margin-bottom: 70px;
}

.reseller-hosting .main-section-headings {
    text-align: center;
    margin-bottom: 40px;
}
.reseller-hosting .main-heaading-pree-titles {
    color: #0000ff;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
}
.reseller-hosting .main-heaading-pree-titles::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    left: 43%;
}
.reseller-hosting .main-heaading-pree-titles::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    right: 43%;
}
.reseller-hosting .main-sect-mian-para {
    color: #c1baba;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.reseller-hosting .feature-icon {
    margin-right: 10px;
    background: #cfd3d7;
    border: 1px solid #5da7f1;
    border-radius: 50%;
    width: 10px;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    cursor: pointer;
    box-shadow: 0 6px 23px rgba(0, 0, 0, 0.12), 0 3px 16px rgba(0, 0, 0, 0.24);
}
.reseller-hosting .linked {
    list-style: disc;
    color: #837d7d;
    font-family: "Commissioner";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
}
.reseller-hosting .f-heading {
    padding-left: 14px;
    color: #000;
    font-family: "Playfair Display";
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;
}
.reseller-hosting .feature-card {
    display: flex;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 47px 40px;
    border-radius: 12px;
    margin-bottom: 40px;
}
.reseller-hosting .feature-card:hover {
    animation-name: vertical;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse; /* top to bottom bottom to top */
    box-shadow: 0 2px 11px rgba(0, 0, 7, 0.25), 0 2px 7px rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in-out;
}
  @keyframes vertical {
    0% {
        transform: translateY(-11px);
        transition: all 0.3s ease-in-out;
    }
    25% {
        transform: translateY(19px);
        transition: all 0.3s ease-in-out;
    }
  }
.reseller-hosting .darksalmon-color {
    background: #f3dddd;
    border: 1px solid #fb8c78;
    color: #fb8c78;
}
.reseller-hosting .bg--green {
    background: #ced7ce;
    border: 1px solid #008000;
    color: #008000;
}
.reseller-hosting .bg--blue {
    background: #ccd0d3;
    border: 1px solid #1e90ff;
    color: #1e90ff;
}
.reseller-hosting .bg--pink {
    background: #d9d2d6;
    border: 1px solid #ff69b4;
    color: #ff69b4;
}
.reseller-hosting .bg--red {
    background: #c3c0c0;
    border: 1px solid #ff0000;
    color: #ff0000;
}
/* ----=================about-hoster-pk===================== */
.about-hoster-pk {
    margin-bottom: 70px;
}
.about-hoster-pk .about-hoster-contents-wrap {
    display: flex;
    align-items: center;
}
.about-hoster-pk .main-section-headings {
    text-align: center;
    margin-bottom: 40px;
}
.about-hoster-pk .main-heaading-pree-titles {
    color: #0000ff;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 8px;
    position: relative;
    text-align: center;
}
.about-hoster-pk .main-heaading-pree-titles::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    left: 35%;
}
.about-hoster-pk .main-heaading-pree-titles::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ff7f50;
    top: 55%;
    right: 35%;
}
.about-hoster-pk .about-hoster-pk-list {
    padding-left: 48px;
}
.about-hoster-pk .about-hoster-pk-list-items {
    list-style: disc;
    color: #9f9b9b;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.about-hoster-pk .para {
    color: #c1baba;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
.about-hoster-pk .about-list_items {
    color: #9f9b9b;
    font-family: "Commissioner";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
}




























